<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Lion Auction</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Lion Auction</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active"><a class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Categories</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Support</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="header">
        <h1>Welcome to Lion Auction</h1>
        <p>The place where you can bid on everything from apparel to electronics!</p>
        <a class="btn btn-success btn-lg" href="/login" role="button">Login here!</a>
    </div>
    <div class="container">
        <!-- -->
    </div>
    <div class="footer">
        <p>&copy; 2023 Lion Auction</p>
    </div>
</body>
</html>