<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Lion Auction</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/home">Lion Auction</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/home" >Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account">Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/categories">Categories</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


<div class="header">
        {% if role == 'helpdesk' %}
            <h1>Tickets</h1>
            <div class="container">
        <div class="card">
                <div class="card-body">
                    <table class="table table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Requested by</th>
                <th scope="col">Staff Requested</th>
                <th scope="col">Type</th>
                <th scope="col">Description</th>
                <th scope="col">status</th>

            </tr>
            <tbody>
            {% for ticket in tickets %}
                <tr><td>{{ ticket[0] }}</td>
                    <td>{{ ticket[1] }}</td>
                <td>{{ ticket[2] }}</td>
                <td>{{ ticket[3] }}</td>
                <td>{{ ticket[4] }}</td>
                <td>{{ ticket[5] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
                {% elif role == 'seller' %}
    <h1>Request Support</h1>
    <form method="POST" action="{{ url_for('support') }}">
        <div class="form-group">
            <label for="request_type">Request Type:</label>
            <input type="text" class="form-control" id="request_type" name="request_type">
        </div>
        <div class="form-group">
            <label for="request_description">Request Description:</label>
            <textarea class="form-control" id="request_description" name="request_description"></textarea>
        </div>
        <div class="form-group">
            <label for="helpdesk_user">Helpdesk User:</label>
            <select class="form-control" id="helpdesk_user" name="helpdesk_user">
                {% for user in helpdesk_users %}
                    <option value="{{ user[0] }}">{{ user[0] }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endif %}

                <a href="/home"> <button type="button" name="login_button" class="btn btn-primary">Back</button> </a>
                </div>
        </div>
    </div>
    </div>
</body>
</html>